{% extends 'base.html' %}

{% block content %}

<div class="card mx-auto" style="max-width: 700px;">

    {% if grupo.profile_image %}
        <img src="{{ grupo.profile_image.url }}" class="card-img-top">
    {% endif %}

    <div class="card-body text-center">

        <h2>{{ grupo.name }}</h2>
        <p>{{ grupo.description }}</p>

        <hr>
        
        <h4>Miembros</h4>

        {% for miembro in grupo.members.all %}
            <div class="mb-2">
                <span class="badge bg-primary">
                    {{ miembro.stage_name }}
                </span>
            </div>
        {% empty %}
            <p>No hay miembros aún.</p>
        {% endfor %}

    </div>

</div>

{% endblock %}